.row.justify-content-center
  .page-header-col
    %h1.fw-bold Context
  .page-col
    %h3 The Tech Vision
    %p In October 2018, Matt Hancock launched a Tech Vision “to build the most advanced health and care system in the world” where “outdated and obstructive NHS IT systems will become a thing of the past.”
    The vision describes that the “state of online services, basic IT and clinical tools in health and care is far behind where it needs to be”, and that, “We need to take a radical new approach
    to technology across the system and stop the narrative that it’s too difficult to do it right in health and care”.
    %p Ambitiously the Tech Vision outlined that, “The UK has the chance to lead the world on healthtech. We have the opportunity to build
    an ecosystem that continually creates the best healthtech – technology that can be exported, alongside new methods and insights that can contribute to health outcomes globally”.
    %p We love this vision. The NHS community loves this vision. Technologists love this vision.
    %p Even visions that get universal buy-in have a gap between intent and execution. Often that gap means the difference between a vision achieved and a vision unrealised.
  .page-col
    %h3 What Works and What Doesn’t
    %p We don’t want to dwell on the past, but we do want to learn from past mistakes and follow a roadmap dedicated to executing this vision and making it a success; a legacy for all involved. The future of this vision will be defined by the execution path taken:
    %table.table
      %thead
        %tr
          %th
            Path 1<br/>
            Big Design up front
          %th
            Path 2<br/>
            Design for Emergence
      %tbody
        %tr
          %td Centrally Led
          %td Partnership working
        %tr
          %td Specification Driven
          %td Dealing with practical and tangible system development
        %tr
          %td Informed by current stakeholder companies
          %td User led development
        %tr
          %td Top Down planning
          %td Open
        %tr
          %td
          %td Bottom Up development
    %p Based on tangible evidence, there can only be one path to success. Professor Margunn Aanestad from the University of Oslo studied this very concept and established that design for emergence and cultivation was the most effective route to achieving real and long lasting change with concrete benefits.
    %p Professor Aanestad focused on implementation strategies, specifically for large interoperable networks. She found that large, centrally managed projects with up front design failed. However, iterative development and gradual expansion reduced overall complexity and led to on demand growth. Results were immediate, and the development which was cultivated became the national standard.
  .page-col
    %h3 NHSI Workforce Deployment Systems Project
    %p Over the last two years The Department of Health and Social Care (DHSC) has committed £26 million capital funding to accelerate NHS providers’ use of workforce deployment systems, £19 million was allocated in 19/20 followed by a further £7.5 million in 20/21. During the first round trusts were encouraged to bid for innovation projects. However out of approximately 50 grants applications only 12 were awarded innovation funding which is less than 25% of the total allocated funds. The second round of funding has seen nearly the full amount of funding being spent within a single supplier. Although well intentioned, this approach has served to further move away from the Tech Vision, and further strengthen the stranglehold by investing almost solely in a single solution.
    %p In 2019 NHSI introduced its levels of attainment for eRostering and Job Planning after it found that only 43% of trusts had systems in place. As part of the process, stakeholders were invited to define how systems should link and share information. The two mains goals were to increase the use of systems across trusts and to work towards their interoperability. Increasing system coverage across the NHS is important, however encouraging trusts to use ‘outdated and obstructive systems’ (as highlighted in the Tech Vision), will lead to long term contracts and vendor lock-in. The second goal - interoperability - called for interfaces that would sit between systems that required definition by a centrally coordinated authority and relied heavily on the capability of current systems in the marketplace. A far more elegant and effective method for interoperability is the use of an Application Programming Interface (API). See ‘API Design’ for more details
