.row.justify-content-center
  .page-header-col
    %h1.fw-bold Executive summary
  .page-col
    %p.lead This document proposes the formation of a company to promote, develop and maintain an open-source workforce platform. It is submitted by an alliance of experienced professionals from across the NHS Tech community; assembled by SARD JV Ltd -- a workforce software company, part owned by Oxleas NHS FT.

    %p Since its inception in 2018, Matt Hancock's Tech Vision has been widely admired but NHSX has been understandably preoccupied by Covid-19. This proposal is a practical plan to execute the initial delivery of that vision to create the most advanced open-source health and care system in the world, beginning with workforce software.

    %p Every individual we have shared this with has been ignited by the concept and the possibility it holds to bring the Tech Vision into tech reality.

    %p.fw-bold This community seeks £5 million in funding from NHSX in order to:

    %ul
      %li Set up the company (CIC or Ltd. Joint Venture)
      %li Migrate existing open-source systems: ESR API Wrapper and Murfin+ to the company
      %li Donate and migrate SARD’s eRostering system to open-source software
      %li Develop a Staff Master Index system with University College London Hospital (UCLH), Oxleas NHS FT, and Torbay and South Devon NHS FT
  .page-col
    %p.fw-bold The benefits of achieving this include:
    %ul
      %li Eradication of monopoly domination, vendor lock-in and associated price inflation.
      %li Accountability for the spend of public money.
      %li Creation of an environment that cultivates innovation.
      %li Replacing outdated systems.
      %li Interoperability.
      %li Utilising in-house NHS expertise and collaboration.
      %li Lowers the barriers to entry for SMEs.
      %li Promulgates individual NHS Trust successes across the wider community.

    %p.fw-bold The core principles of Public Money Public Code are:
    %ul
      %li To promote all forms of transparency and openness: management, accounts and code.
      %li To be self-sustaining and independent.
      %li To maintain democratic governance eg. elected board and term limits.

    %p.fw-bold This proposal is supported by the following people:
    %ul
      %li
        %span.fw-bold Professor Joe McDonald
        &mdash; Founding Director of The Great North Care Record and Consultant Psychiatrist
      %li
        %span.fw-bold SARD JV Ltd cofounders
        &mdash; an NHS owned workforce software provider
      %li
        %span.fw-bold Terence Eden
        &mdash; open-source advocate, Senior Technology Policy Advisor at GDS
      %li
        %span.fw-bold Simon Wardley
        &mdash; Advisor, Leading Edge Forum. Co-Chair of OSCON
      %li Dr Marcus Baw - GP, Emergency Physician and Software Developer - Lead Dev for RCPCH Growth Charts API
      %li Rob Dyke - Cofounder of Open e-Obs and NHoS
      %li Simon Knight - Director of Planning and Performance, UCLH
      %li Tom Bartlett - Oxleas NHS Foundation Trust Business Informatics Lead
      %li Andrew Sandford - Lean and Agile public sector process design consultant
  .page-col
    %p.fw-bold We have discussed the proposal with the following people and they have indicated their support:
    %ul
      %li Professor Margunn Aanestad - Professor at the Department of Informatics, University of Oslo
      %li Rachel Murphy - CEO at BeDifrent
      %li Liam Maxwell - first CTO of Government Digital Service, Director, Government Transformation at Amazon Web Services
      %li Simon Clifford - Director of Digital & Data, The Police ICT

    %p The company will be membership based and self sustaining, building a community around open values and transparency and promoting open-source software within the healthcare workforce sector. It will be overseen by an Executive Board and a Steering group (with Chair) to guide the movement forward and expand its offering.

    %p This is a huge opportunity not only to radically improve software and the technical environment within the NHS Workforce sector, but also to demonstrate best practice and establish a blueprint to be applied across all areas of healthcare tech in the future.

    %p Workforce systems provide the perfect starting point as they are subject to less regulation and enjoy more freedom to apply innovative and efficient solutions at relatively low costs. Capitalising on these benefits will have an enormous financial impact.

    %p Our full-costed plan describes the tools, resources and approach required to successfully implement the Tech Vision across the NHS Workforce.
