.row.justify-content-center
  .page-header-col
    %h1.fw-bold For conversion and migration
  .col-xs-12.col-lg-8.col-xl-5
    %h3 eRostering
    %p SARD eRostering is a powerful, AI-driven self-rostering system that analyses the information you enter and calculates the optimum roster to most efficiently meet the needs of each individual and the workload of the trust.
    %p eRostering is able to handle and assimilate any number of your chosen parameters, from consecutive shift restrictions, leave and sickness and Working Time Directive factors to which team members work best together and the personal preferences or prior commitments of each user.
    %p Users can see at a glance when they’re working, and when and where their colleagues are rostered. They can also request to swap shifts with colleagues from within the system.
    %p Our system can be used for all work groups – consultants, junior doctors, nurses and all other staff can benefit from the smarter rosters and better work-life balance SARD offers. Regardless of the job role, it can be used in any environment including both acute and community care.
    %p Furthermore, this system goes beyond just employee rostering and can help meet other administrative needs such as locating equipment, bed allocations, theatres etc.
    %p eRostering removes the complicated maths from the process, giving administrators time to focus on what they want their rosters to achieve, not how to make them work, saving time and money and contributing to a happier workforce with a better work-life balance.
    %ul
      %li Facility to build, edit and approve rosters before they are made live to all users
      %li The right people in the right place, with the right skills at the right time
      %li Smart self-rostering that can outperform any manual analysis and calculation
      %li Safe staffing levels
      %li Reduced sickness and unauthorised absence
      %li Minimised agency and locum cover


  .col-xs-12.col-lg-8.col-xl-7
    = image_tag 'erostering-all-shifts-summary.png', class: 'img-fluid img-thumbnail'
    %h3 The licence type
    %p Our current open-source products operate on a MIT license. The MIT license is a short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code.
    %p Other licenses under consideration are the AGPL v3 license. Permissions of this strongest copyleft license are conditioned on making available complete source code of licensed works and modifications, which include larger works using a licensed work, under the same license. Copyright and license notices must be preserved. Contributors provide an express grant of patent rights. When a modified version is used to provide a service over a network, the complete source code of the modified version must be made available.
