.row.justify-content-center
  .col-xs-12.col-lg-8.col-xl-6
    %h3 Murfin+
    %p SARD’s Murfin+ system reviews the job plans that the trust has created and compares that to the reality of direct clinical care. This allows for a better understanding of what is happening in real time, so service managers are able to identify overload, recruitment needs and reassign efforts to improve delivery.
    %h4 Why
    %p Created in partnership with Oxleas and Nottingham University Hospitals NHS FTs, Murfin+ has been developed to create better job planning accuracy, leading to greater understanding of how work is being delivered within a trust, with the ultimate goal of improving patient experience and outcomes.
    %h4 Three principles
    %ol
      %li
        %span.fw-bold Non-onerous:
        using existing data, Murfin+ uses what’s already available without extra administrative input.
      %li
        %span.fw-bold Patient-centred design:
        aiding leadership decisions based on improving patient experience.
      %li
        %span.fw-bold Detection:
        Murfin+ makes no attempt to diagnose a root cause, but displays any discrepancies in order to prompt discussion on what changes or improvements may be needed.
    %h4 How
    %p The system compares the expected output of direct clinical care based upon a service’s job plans with actual outcomes. The tool reports inconsistencies between the two and calls for action. This system is not designed to be a performance management tool but reduces the gap between expected and actual clinical care by improving the data quality of job plans.
  .col-xs-12.col-lg-8.col-xl-6
    = image_tag 'murfin-plus-dashboard.png', class: 'img-fluid'
