.row.justify-content-center
  .page-header-col
    %h1.fw-bold Our Proposal
  .page-col
    %p To set up a self sustaining company as a vehicle to promote and implement open-source workforce solutions for the NHS and other Health Care Providers. To continue to grow a community committed to developing an open ecosystem.  Gift and develop four open-source workforce Solutions to the company.
    %h3 The Company
    %p.fw-bold We will set up Public Money, Public Code and provide the following:
    %ul
      %li A written Constitution
      %li Legal frameworks
      %li Community benefit statement
      %li Executive Board
      %li Steering Group with Chair
      %li Membership structures, options and Fees
      %li Periodic reporting

    %p The company will act as a vehicle to promote / build an ecosystem / access to code.
    %h3 Community
    %p Over a number of months, we have been building a community, a wide cross section of open-source advocates within NHS Tech. The aim of this community is the realisation of the 2018 Tech Vision. This project will look to both grow the community and build a sustainable membership base to ensure sustainability of the company. The community will be able to contribute to the success of the Public Money, Public Code in a number of ways including:
    %ul
      %li Providers contributing systems to the company
      %li Help steer and guide the company
      %li Elect member of the board.
      %li Maintain code and additional commits.
    %p This project will ensure further growth of this community, to pull in more companies willing to contribute further to the company.

  .col.col-xs-12.col-lg-8
    %h3 Open-source systems
    %p SARD JV are proposing to move four workforce systems into the company. Two of which are developed, one that needs converting and one that is in development. Each of these is outlined below.

    .table-responsive
      %table.table
        %thead
          %tr
            %th System
            %th Brief Description
            %th Required Action
            %th Offer
        %tbody
          %tr
            %td ESR API Wrapper
            %td ESR data can be accessed through a user interface which is aesthetically pleasing and easy to use. This allows the user to find the information they require in a matter of minutes if not seconds.
            %td Ensure all code and documentation is accessible for implementation.
            %td Migrate to the company.
          %tr
            %td Murfin+
            %td SARD’s Murfin+ system reviews the job plans that the trust has created and compares that to the reality of direct clinical care. This allows for a better understanding of what is happening in real time, so service managers are able to identify overload, recruitment needs and reassign efforts to improve delivery.
            %td Ensure all code and documentation is accessible for implementation.
            %td Migrate to the company.
          %tr
            %td eRostering
            %td SARD eRostering is a powerful, AI-driven self-rostering system that analyses the information that you enter and calculates the optimum roster to most efficiently meet the needs of each individual and the workload of the trust.
            %td Convert code to open-source. Compile full documentation and structures required. Ensure all code and documentation is accessible for implementation.
            %td Once converted this will be migrated to the company.
          %tr
            %td Staff Master Index
            %td The Staff Master Index, will act to create a core reference point for staff and their relationship to the trust, and deliver an accurate database for easily accessible information.
            %td Develop a Staff Master Index in partnership with UCLH / Oxleas and Torbay and South Devon. Compile full documentation and structures required. Ensure all code and documentation is accessible for implementation.
            %td Once developed this will be migrated to the company.
    %h3 Funding required
    %p The community seeks £5 million in funding to deliver the set-up, promotion and migration of concrete systems into the company, utilising the Execution Essentials set out below. After the initial period of funding, we have set out a model to ensure the self sustainability of the company and for its growth. All funding is budgeted and an initial project plan is in place. We have also built a forecasting model for membership.
