.row.justify-content-center
  .page-header-col
    %h1.fw-bold Phases and Costing
  .col-xs-12.col-lg-8.col-xl-12
    %p There are four key phases. These will be delivered within 24 months of the project going live.
    %ol
      %li Found the company
      %li ESR API Wrapper and Murfin+ migration
      %li Migrate SARD’s eRostering platform to the company
      %li Develop a “Staff Master Index” platform within the company
    %p In order to achieve the above deliverables we have outlined the required costing in our top level costing document. Please see Execution Plan Costing for full details
  .col-md-6.col-lg-8.col-xl-6
    %h3 Phase 1. Found the company
    %p.fw-bold Total Budget: £676,000.00

    %p Actions:
    %ul
      %li Administrative setup of the company e.g. fees, administration costs and legal documents
      %li Establishment of the company Constitution
      %li Establishment of the company Executive Board
      %li Executive Directors remuneration
      %li Membership Structure and Steering Group
      %li Events / Promotion and Reports
      %li Ongoing administration of the company
  .col-md-6.col-lg-8.col-xl-6
    %h3 Phase 2. ESR API Wrapper & Murfin +
    %p No additional budget required. The source code for these projects is currently managed and maintained by SARD JV.

    %p Actions:
    %ul
      %li Migrate the two NHSI open-source projects to the company
      %li Ensure all code and documentation is accessible for implementation
  .col-md-6.col-lg-8.col-xl-6
    %h3 Phase 3. eRostering
    %p.fw-bold Total Budget: £2,127,000.00

    %p Actions / Requirements:
    %ul
      %li Project management
      %li Operation research - AI tech
      %li Administrative setup of the company e.g. fees, administration costs and legal documents
      %li Front end development - UX/ Figma and CSS
      %li Back end development and documentation (Ruby, Python)
      %li Function testing
      %li Security and penetration testing
      %li System analysis - client focused
      %li Marketing / awareness / promotion
      %li Sales
      %li Support
      %li Operations management
      %li Contingency
  .col-md-6.col-lg-8.col-xl-6
    %h3 Phase 4. Staff Master Index
    %p.fw-bold Total Budget: £2,197,000.00

    %p Actions / Requirements:
    %ul
      %li Discovery (Project Analysis)
      %li Project Management
      %li Operation Research - AI Tech
      %li Partnership building - Funding Developers within the NHS
      %li Front end development - UX/Figma and CSS
      %li Back end development and documentation (Ruby, Python)
      %li Function Testing
      %li Security and Penetration Testing
      %li System Analysis - Client focussed
      %li Marketing / Awareness / Promotion
      %li Sales
      %li Support
      %li Operations Management
      %li Contingency

  .col-md-6.col-lg-8.col-xl-6
    %h3 Total Project Budget
    %p.fw-bold Total Spend: £5,000,000.00
    %p The accounts for the company will be fully open and published on the company website. NHSX and the public will be able to track where the funding has been spent and on what. The project will take up to 24 months to deliver all aspects, some phases will be completed in shorter timescales.
