.row.justify-content-center
  .page-header-col
    %h1.fw-bold Appendix 2: Public Money Public Code
  .col-xs-12.col-lg-8.col-xl-6
    %p Upon funding agreement, Public Money, Public Code will establish its constitution, board structure and membership structures. The remaining funding will rest within the company for the system migration phases outlined above. The executive board will allocate the development budgets and oversee the project plan and completion. A membership structure will be set up to ensure future self-sustainability of the company, without any further funding requirements. Public Money Public Code is not predicated on SARD JV’s long term involvement and must be an independent body with the constitution at its centre.

    %h3 Constitution
    %p.fw-bold currently in draft by commercial lawyers
    %p It is imperative that an agreed and definitive constitution is set out in the memorandum of association, as well as the rules to govern the company via its articles of association. The constitution will underpin the goals and objectives of the company and all the members that it serves.

    %h3 Executive board responsibilities
    %p The executive board will have overall responsibility for ensuring that the company meets its statutory and other obligations, and that the company is run in such a way that it will continue to satisfy the community interest test. They would act to make collective decisions and will be limited in the number of members and length of term. There will be a criteria for nomination and selection in place. During the initial establishment of the company a list of nominated board members are already presented.

    %h3 Founding executive board member
    %p.fw-bold Criteria for initial nomination
    %ul
      %li Advocate for open-source
      %li Experience in the field
      %li Technically literate
      %li Proposed Board Members - Executive
    %p Board members will be subject to a term limit and will need to be nominated for a place on the board. During the creation of the company, this proposal will act as the nomination process for board members to serve the first term. It is also proposed that the annual remuneration for a board member is £12,000 per annum. The initial list of board nominations are:
    %ul
      %li Kevin Monk (Managing Director)
      %li Prof Joe McDonald
      %li Rob Dyke
      %li Marcus Baw
    %p If you wish to be a founding board memeber, we will shortly be giving details of how to put yourself forward.

    %h3 Leadership and direction
    %p The company should be led by a managing director. The managing director should be appointed by the executive board members. Their primary responsibility must be to be a driving force for engaging with stakeholders and articulating the vision. As a metric of accountability and suitability for leadership, it should be non-ambiguous to any employee, contractor, board member or client who the leader is and the wider vision of the company.
  .col-xs-12.col-lg-8.col-xl-6
    %h3 Steering Group - Membership
    %p.fw-bold Chair - Tim Donohoe NHSX
    %p The steering group will be made up of membership representatives. The steering group will act as an advisory group to the executive board members. The membership will also be able make nominations to the executive board.

    %h3 Membership Structure
    %p Membership will be set up in the following way:
    .table-responsive
      %table.table
        %thead
          %tr
            %th Membership Type
            %th Membership fee
            %th Output
        %tbody
          %tr
            %td Individual Membership
            %td £1,000 per annum
            %td Attendance at AGM / Periodic Reports / Executive board nominations
          %tr
            %td Trust Membership
            %td £20,000 per annum
            %td Attendance at AGM / Periodic Reports / Executive board nominations
          %tr
            %td Corporate Membership
            %td £50,000 per annum
            %td Attendance at AGM / Periodic Reports / Executive board nominations
    %h3 Code Maintenance
    %p Once the initial four systems are migrated to the company the maintenance of the code and documentation and the roles within that would need to be devised and established. The company would need to define how to incorporate regular project contributions into the workflow and how to resolve any community debates. Many open-source projects opt for the following roles:
    %ul
      %li
        %span.fw-bold Maintainer -
        Responsibility for the overall direction of the project and is committed to improving it.
      %li
        %span.fw-bold Contributor -
        This role can cover a multitude of different areas including commenting on issues or pull requests, people who add value to the project and those who submit code.
      %li
        %span.fw-bold Commiter -
        This is a more specific responsibility and is used to distinguish commit access.
    %p This is drawn from the following source material: https://opensource.guide/leadership-and-governance/

    %h3 Open-source Implementation
    %p The code,documentation and APIs for each system will be available on GITHub and can be readily accessed. If a Trust already has the IT infrastructure available then the systems can be implemented internally. For those Trust’s that require implementation, maintenance and support, external companies can quote for the opportunity based on the level or required assistance.
    %p For example if a Trust wished to implement the eRostering system, SARD would be able to quote for the initial implementation of the system within the Trust as well as quote for the maintenance and support required within a time limited period, subject to contractual agreements. Should a tender be required, existing frameworks including the HSSF could be used to select the right supplier.
