.row.justify-content-center
  .page-header-col
    %h1.fw-bold Project Plan
  .col-xs-12.col-lg-8.col-xl-12
    %p The funding for the above project is based on a 24-month delivery programme. The resource requirements have already been identified and the budget allocation in place. The 24-month period would start at project initiation and is for the time required for SARD’s actions. Timescales not included are those dependent on partners.
    = image_tag 'project-plan-table.png', class: 'img-fluid'
