.row.justify-content-center
  .page-header-col
    %h1.fw-bold The Proposers
  .page-col2
    %h3 SARD JV
    %p SARD JV was born out of the NHS and is still part owned by it. We’ve been hugely successful in our almost decade long history. It’s the classic David and Goliath software story. We started in a garage and took on all adversaries including crushing a FTSE200 company in our primary field. Today, SARD JV provides workforce tech to 70% of The Shelford Group: UCLH, Sheffield, Guy’s and St Thomas’, Kings’ College, Oxford University Hospitals, Newcastle, and Manchester.
    %p We’re the poster child of what the NHS tech community wants software to be:
    %ul
      %li Lean and agile
      %li Transparent, with open APIs on every product
      %li Values-aligned
      %li Customer service-focused
      %li 96% client retention
      %li User-led by a reliable chat support system trusted for 10 years

    %p We have thrived by placing the majority of the Execution Essentials described below at the heart of how we operate and by focusing on two core pillars, great technology and great customer service. Our clients trust us, and as such have asked us for years to extend our offering, build new modules and challenge the status quo.  As a bootstrap funded company, who focus on partnership working with real integrity, this process can take time.

    %p Despite everything we have to offer, we’re in a horrible position and we know we are not alone. A hostile, polluted environment unintentionally selects against companies like ours.

    %p We refuse to let this failing culture choke the Tech Vision and our future. We can do what it takes to get free from locked-in proprietary systems and give new life to the vision. This requires a radical move. A destabilisation manoeuvre, that we are fully prepared to undertake on our own, but understand fully that with your support the impact would be bigger, faster and with a greater chance of success.

    %p Building a community demonstrates our intentions are not focused on the success of our company or indeed becoming the next monopoly, but rather, developing an environment where tech companies current and future have the ability to thrive and innovate. We would rather make our dent on the universe than eat the world. We believe in systems that provide real value for money, are accessible to all and can be readily built upon locally by healthcare providers to suit their individual requirements. An ecosystem that allows for interoperability and where customers get the choice of best of breed rather than long term vendor lock in.

  .page-col2
    %h3 The wider community
    %p Over the last 6 months a community has been brought together across a wide spectrum of NHS Health tech open-source advocates. A single focus to help improve the environment in which tech companies can engage and flourish for the benefit ultimately of the NHS and other Healthcare providers. SARD JV have co-ordinated an effort to bring people together for a common cause. Upon outlining our approach, more and more have joined the community and a movement has begun. A passion for change has been reignited, developing an open-source platform and a wider community to support it.

    %p So far this proposal is supported by:

    %ul
      %li Professor Joe McDonald - Founding Director of The Great North Care Record and Consultant Psychiatrist
      %li SARD JV Ltd cofounders - an NHS owned workforce software provider
      %li Terence Eden - open-source advocate, Senior Technology Policy Advisor at GDS
      %li Simon Wardley - Advisor, Leading Edge Forum. Co-Chair of OSCON
      %li Dr Marcus Baw - GP, Emergency Physician and Software Developer - Lead Dev for RCPCH Growth Charts API
      %li Rob Dyke - Cofounder of Open e-Obs and NHoS
      %li Simon Knight - Director of Planning and Performance, UCLH
      %li Tom Bartlett - Oxleas NHS Foundation Trust Business Informatics Lead
      %li Andrew Sandford - Lean and Agile public sector process design consultant

    %p We have also discussed this approach and received a positive response from
    %ul
      %li Professor Margunn Aanestad - Professor at the Department of Informatics, University of Oslo
      %li Rachel Murphy - CEO at BeDifrent
      %li Liam Maxwell - first CTO of Government Digital Service, Director, Government Transformation at Amazon Web Services
      %li Simon Clifford - Director of Digital & Data, The Police ICT

    %p This community reflects years of experience working in and around health tech. They represent individuals working within trusts, clinical and workforce based, companies delivering workforce solutions and individuals working within the public sector.  The general consensus is that the NHS workforce is a perfect sector to prove the concept of open-source and to grow an open ecosystem that will deliver the much admired Tech Vision.
