// Pages ========================================

.pages {
  background: #cccccc;
  .page {
    background: white;
    margin-bottom: 32px;
    .page-header-col {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(8);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(12);
      }
    }
    .page-col {
      @include make-col-ready();

      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(8);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(4);
      }
    }
    .page-col2 {
      @include make-col-ready();

      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(8);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(6);
      }
    }
  }
}