#pmpcSidebar.sidebar
  .close-button{onclick: "sidebar_close()"} Close ×
  .menu
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3
    %a.menu-link{href: "#"} Link 1
    %a.menu-link{href: "#"} Link 2
    %a.menu-link{href: "#"} Link 3

.sidebar-hamburger{onclick: "sidebar_open()"} ☰

