#pmpcSidebar.sidebar
  .close-button{onclick: "sidebar_close()"} Close ×
  .menu
    %a.menu-link{href: "#can_you_help_us"} Can you help us?
    %a.menu-link{href: "#graffiti"} Graffiti Wall!
    %a.menu-link{href: "#executive_summary"} Executive summary
    %a.menu-link{href: "#context"} Context
    %a.menu-link{href: "#proposers"} The Proposers
    %a.menu-link{href: "#our_proposal"} Our Proposal
    %a.menu-link{href: "#execution_essentials"} The 37 Execution Essentials
    %a.menu-link{href: "#phases_and_costing"} Phases and Costing
    %a.menu-link{href: "#project_plan"} Project Plan
    %a.menu-link{href: "#open_source_products"}
      Appendix 1:
      %br/
      Open-source products
    %a.menu-link{href: "#murfin_plus"} Murfin+
    %a.menu-link{href: "#for_development_and_migration"} For development and migration
    %a.menu-link{href: "#for_conversion_and_migration"} For conversion and migration
    %a.menu-link{href: "#pmpc_structure"}
      Appendix 2:
      %br/
      Public Money Public Code


.sidebar-hamburger{onclick: "sidebar_open()"} ☰
